# HW3
HW3/part1/cg
HW3/part1/cg_grader
HW3/part2/breadth_first_search/bfs
HW3/part2/breadth_first_search/bfs_grader
HW3/part2/page_rank/pr
HW3/part2/page_rank/pr_grader

# HW2
HW2/part1/pi.out
HW2/part2/mandelbrot
HW2/part2/*.ppm

# HW1
HW1/part1/myexp

# Profiling file
gmon.out
profiling_result
perf.data
perf.data.old

# Common Extensions
*.o
*.zip
*.graph